<!doctype html>
<html>
	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="referrer" content="no-referrer">

	<title>Pareto Inefficient</title>

	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
	<link id="theme" rel="stylesheet" href="<%= theme %>">

	<link rel="shortcut icon" href="/img/favicon.png">
	<link rel="icon" sizes="192x192" href="/img/touch-icon-192x192.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon-120x120.png">

	</head>
	<body class="<%= public ? "public" : "" %>">

	<div id="wrap">
	<div id="viewport">
		<aside id="sidebar" class="tse-scrollable">
			<div class="tse-content">
				<div class="networks"></div>
				<div class="empty">
					You're not connected to any networks yet.
				</div>
			</div>
		</aside>
		<footer id="footer">
			<button class="icon sign-in" data-target="#sign-in" data-title="Sign in" data-placement="top" title="Sign in to Shout"></button>
			<button class="icon connect" data-target="#connect" data-title="Connect" data-placement="top" title="Connect to network"></button>
			<button class="icon settings" data-target="#settings" data-title="Settings" data-placement="top" title="Client settings"></button>
			<button id="sign-out" class="icon sign-out" data-placement="top" title="Sign out"></button>
		</footer>
		<div id="main">
			<div id="windows">
				<div id="chat" class="no-colors"></div>
				<div id="sign-in" data-title="Sign in" class="window">
					<div class="header">
						<button class="lt"></button>
					</div>
					<form class="container" action="">
						<div class="row">
							<div class="col-xs-12">
								<h1 class="title">Sign in</h1>
							</div>
							<div class="col-xs-12">
								<label>
								Username
								<input class="input" name="user">
								</label>
							</div>
							<div class="col-xs-12">
								<label class="port">
								Password
								<input class="input" type="password" name="password">
								</label>
							</div>
							<div class="col-xs-12">
								<label class="remember">
									<input type="checkbox" name="remember" checked="checked">
									Stay signed in
								</label>
							</div>
							<div class="col-xs-12 error" style="display: none;">
								Authentication failed.
							</div>
							<div class="col-xs-12">
								<button type="submit" class="btn">
									Sign in
								</button>
							</div>
						</div>
					</form>
				</div>
				<div id="connect" data-title="Connect" class="window">
					<div class="header">
						<button class="lt"></button>
					</div>
					<form class="container" action="">
						<div class="row">
							<div class="col-sm-12">
								<h1 class="title">Connect</h1>
							</div>
							<div <%= typeof(displayNetwork) !== "undefined" && !displayNetwork ? 'style="display: none;"' : ''%>>
								<div class="col-sm-12">
									<h2>Network settings</h2>
								</div>
								<div class="col-sm-3">
								<label>Name</label>
									</div>
								<div class="col-sm-9">
									<input class="input" name="name" value="<%= defaults.name %>">
								</div>
								<div class="col-sm-3">
									<label>Server</label>
								</div>
								<div class="col-sm-6 col-xs-8">
									<input class="input" name="host" value="<%= defaults.host %>">
								</div>
								<div class="col-sm-3 col-xs-4">
									<div class="port">
										<input class="input" name="port" value="<%= defaults.port %>">
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-3">
									<label>Password</label>
								</div>
								<div class="col-sm-9">
									<input class="input" type="password" name="password" value="<%= defaults.password %>">
								</div>
								<div class="col-sm-3"></div>
								<div class="col-sm-9">
									<label class="tls">
										<input type="checkbox" name="tls" <%= defaults.tls ? 'checked="checked"' : '' %>>
										Enable TLS/SSL
									</label>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="col-sm-12">
								<h2>User preferences</h2>
							</div>
							<div class="col-sm-3">
								<label>Nick</label>
							</div>
							<div class="col-sm-5">
								<input class="input nick" name="nick" value="<%= defaults.nick %>">
							</div>
							<div class="clearfix"></div>
							<div class="col-sm-3">
								<label>Username</label>
							</div>
							<div class="col-sm-5">
								<input class="input username" name="username" value="<%= defaults.username %>">
							</div>
							<div class="clearfix"></div>
							<div class="col-sm-3">
								<label>Real name</label>
							</div>
							<div class="col-sm-9">
								<input class="input" name="realname" class="input" value="<%= defaults.realname %>">
							</div>
							<div class="col-sm-3">
								<label>Channels</label>
							</div>
							<div class="col-sm-9">
								<input class="input" name="join" class="input" value="<%= defaults.join %>">
							</div>
							<div class="col-sm-3 clearfix"></div>
							<div class="col-sm-9">
								<button type="submit" class="btn">
									Connect
								</button>
							</div>
						</div>
					</form>
				</div>
				<div id="settings" data-title="Settings" class="window">
					<div class="header">
						<button class="lt"></button>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<h1 class="title">Settings</h1>
							</div>
							<div class="col-sm-12">
								<h2>Messages</h2>
							</div>
							<div class="col-sm-6">
								<label class="opt">
									<input type="checkbox" name="join">
									Show joins
								</label>
							</div>
							<div class="col-sm-6">
								<label class="opt">
									<input type="checkbox" name="motd">
									Show motd
								</label>
							</div>
							<div class="col-sm-6">
								<label class="opt">
									<input type="checkbox" name="part">
									Show parts
								</label>
							</div>
							<div class="col-sm-6">
								<label class="opt">
									<input type="checkbox" name="nick">
									Show nick changes
								</label>
							</div>
							<div class="col-sm-6">
								<label class="opt">
									<input type="checkbox" name="mode">
									Show mode
								</label>
							</div>
							<div class="col-sm-6">
								<label class="opt">
									<input type="checkbox" name="quit">
									Show quits
								</label>
							</div>
							<div class="col-sm-12">
								<h2>Visual Aids</h2>
							</div>
							<div class="col-sm-12">
								<label class="opt">
									<input type="checkbox" name="colors">
									Enable colored nicknames
								</label>
							</div>
							<% if (typeof prefetch === "undefined" || prefetch !== false) { %>
							<div class="col-sm-12">
								<h2>Links and URLs</h2>
							</div>
							<div class="col-sm-6">
								<label class="opt">
									<input type="checkbox" name="thumbnails">
									Auto-expand thumbnails
								</label>
							</div>
							<div class="col-sm-6">
								<label class="opt">
									<input type="checkbox" name="links">
									Auto-expand links
								</label>
							</div>
							<% } %>
							<div class="col-sm-12">
								<h2>Notifications</h2>
							</div>
							<div class="col-sm-12">
								<label class="opt">
								<input id="badge" type="checkbox" name="badge">
								Enable badge
								</label>
							</div>
							<div class="col-sm-12">
								<label class="opt">
								<input type="checkbox" name="notification">
								Enable notification sound
								</label>
							</div>
							<div class="col-sm-12">
								<div class="opt">
									<button id="play">Play sound</button>
								</div>
							</div>
							<div class="col-sm-12">
								<h2>About Shout</h2>
							</div>
							<div class="col-sm-12">
								<p class="about">
									You're currently running version <small><%= version %></small><br>
									<a href="https://raw.githubusercontent.com/erming/shout/master/CHANGELOG.md" target="_blank">Check for updates</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<form id="form" action="">
				<div class="inner">
					<button id="submit" type="submit">
						Send
					</button>
					<div class="input">
						<label for="input" id="nick"></label>
						<input id="input" class="mousetrap">
					</div>
				</div>
			</form>
		</div>
	</div>
	</div>

	<script src="js/libs.min.js"></script>
	<script src="js/shout.templates.js"></script>
	<script src="js/shout.js"></script>

	</body>
</html>
